<ul class="event-section">
  <li class="event-section-title">{{moment selectedDay 'MMMM Do YYYY'}}</li>
  {{#each workoutEvents as |event|}}
    <li class="event">
      {{yield event}}
    </li>
  {{/each}}
</ul>
{{#if on-add}}
  <div class="add">
    <a {{action 'add'}}><i class="fa fa-plus-circle fa-2x"></i></a>
  </div>
{{/if}}
