<div class="modal-header">
  <button type="button" class="close" {{action 'closeModal'}}><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    You Should Log In!
  </h4>
</div>
<div class="modal-body">
  <p>
    Then, while you're checking out the Events List, you can bookmark all of the amazing stuff that you want to see and do during this year's TriConf.
  </p>
  <button class="login-btn" {{action 'login' 'twitter'}}><i class="fa fa-twitter icon"></i> Login</button>
  <button class="login-btn" {{action 'login' 'facebook'}}><i class="fa fa-facebook icon"></i> Login</button>
</div>
