.calendar-month-component {
  display: block;

  header {
    position: relative;

    h2 {
      padding: 0;
      margin-top: 0;
      margin-bottom: 10px;
      display: block;
      text-align: center;
    }

    .move-back-button, .move-forward-button {
      position: absolute;
      top: 0;
    }

    .move-back-button {
      left: 0;
    }

    .move-forward-button {
      right: 0;
    }
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  th, td {
    padding: 8px;
  }

  th, .day-title, .day-events {
    text-align: center;
    vertical-align: middle;
  }

  td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: top;
    cursor: pointer;


    &.today {
      .day-title {
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }

    &.selected, &.selected.weekday:hover {
      .day-title {
        border-radius: 50%;
        border: 1px solid #FF9B56;
        background-color: #FF9B56;
      }
    }

    &.weekday:hover {
      .day-title {
        border-radius: 50%;
        background-color: #ccc;
      }
    }
  }

  .day-title {
    background: none;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }

  .day-events {
  }

  .event {
    border-radius: 50%;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: black;
  }
}
