<div class="panel container-fluid filter">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</div>
{{#if session.user.isAdmin}}
<button class="btn btn-primary" {{action 'createRestaurant'}}><i class="fa fa-plus icon"></i></button>
{{/if}}
{{#each sortedRestaurants as |restaurant|}}
  {{restaurant-panel
      restaurant=restaurant
      onRemove="removeRestaurant"
      onSave="saveRestaurant"
      onCancel="cancelChange"
      checkIn="checkIn"}}
{{/each}}