<nav id="top-nav">
  <h1>Ember Fit</h1>
</nav>
<nav id="side-nav">
  <ul>
    <li>{{#link-to 'scheduler'}}<i class="fa fa-calendar icon"></i>Scheduler{{/link-to}}</li>
    <li>{{#link-to 'stop-watch'}}<i class="fa fa-clock-o icon"></i>Stop Watch{{/link-to}}</li>
    <li>{{#link-to 'workout-builder'}}<i class="fa fa-plus-square icon"></i>Workout Builder{{/link-to}}</li>
  </ul>
</nav>
<div id="application-container">
  {{outlet}}
</div>
