<nav id="top-nav">
  <img src="images/TriConf-logo.png" />
</nav>
<nav id="side-nav">
  <ul>
    <li>{{#link-to 'events'}}<i class="fa fa-flag icon"></i>Event List{{/link-to}}</li>
    <li>{{#link-to 'local-eats'}}<i class="fa fa-cutlery icon"></i>Local Eats{{/link-to}}</li>
    <li>{{#link-to 'stop-watch'}}<i class="fa fa-users icon"></i>Leader Boards{{/link-to}}</li>
    <li>{{#link-to 'workout-builder'}}<i class="fa fa-trophy icon"></i>Achievements{{/link-to}}</li>
  </ul>
</nav>
<div id="application-container">
  <div class="panel container-fluid filter">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</div>
  {{outlet}}
</div>
{{outlet 'modal'}}
