<div class="panel container-fluid filter">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</div>
<div class="row">
  {{#if session.user.isAdmin}}
    <button class="add-panel" {{action 'createChallenge'}}><i class="fa fa-plus icon"> Add New Event</i></button>
  {{/if}}
</div>
{{#each sortedChallenges as |challenge|}}
  {{#editable-panel
      item=challenge
      title=challenge.name
      panelClass="triconf"
      onRemove="removeChallenge"
      onSave="saveChallenge"
      onCancel="cancelChange"
      as |isEditing|}}
    <div class="media">
      <div class="media-body">
        <div class="row inner-panel">
          <div class="col-md-12">
            <p>
              {{bootstrap-input
                  label="description:"
                  value=challenge.description
                  isEditing=isEditing
                  type="textarea"
                  placeholder="Description"}}
              {{bootstrap-select content=categories
                  value=challenge.category
                  label="Category:"
                  placeholder="Category"
                  optionValuePath="content"
                  optionLabelPath="content"
                  isEditing=isEditing}}
              {{bootstrap-input
                  label="Completed Quote:"
                  value=challenge.completedQuote
                  isEditing=isEditing
                  type="textarea"
                  placeholder="Enter Quote if any..."}}
            </p>
          </div>
        </div>
          {{#unless isEditing}}
            {{#complete-check checkIn="checkIn" activity=challenge activityList=session.user.achieved}}
                <span class="sawit">Did&nbsp;it!</span>
            {{/complete-check}}
          {{/unless}}
      </div>
    </div>
  {{/editable-panel}}
{{/each}}
