<div id="check-in">
  <div class="row">
    <div class="col-xs-6">
      <button class="btn full-width btn-check-in">Check In</button>
      <p>I got here by:</p>
      <ul>
        {{#each movement in movements}}
          <li><button class="btn btn-default">{{movement.name}}</button></li>
          {{/each}}
      </ul>
    </div>
  </div>
</div>
