<h3>Leaderboards</h3>

<div class="col-md-12 full">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Overall Awesome</h4></div>
		</div>
		<div class="row leader">
			<div class="col-xs-12">1. Some Rando <span class="score">500pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">2. Some Rando <span class="score">490pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">3. Some Rando <span class="score">480pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">4. Some Rando <span class="score">470pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">5. Some Rando <span class="score">460pts</span></div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Most Restaurants</h4></div>
		</div>
		<div class="row leader">
			<div class="col-xs-12">1. Some Rando <span class="score">500pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">2. Some Rando <span class="score">490pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">3. Some Rando <span class="score">480pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">4. Some Rando <span class="score">470pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">5. Some Rando <span class="score">460pts</span></div>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Most Restaurants</h4></div>
		</div>
		<div class="row leader">
			<div class="col-xs-12">1. Some Rando <span class="score">500pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">2. Some Rando <span class="score">490pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">3. Some Rando <span class="score">480pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">4. Some Rando <span class="score">470pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">5. Some Rando <span class="score">460pts</span></div>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Most Restaurants</h4></div>
		</div>
		<div class="row leader">
			<div class="col-xs-12">1. Some Rando <span class="score">500pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">2. Some Rando <span class="score">490pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">3. Some Rando <span class="score">480pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">4. Some Rando <span class="score">470pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">5. Some Rando <span class="score">460pts</span></div>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Most Restaurants</h4></div>
		</div>
		<div class="row leader">
			<div class="col-xs-12">1. Some Rando <span class="score">500pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">2. Some Rando <span class="score">490pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">3. Some Rando <span class="score">480pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">4. Some Rando <span class="score">470pts</span></div>
		</div>
		<div class="row leader">
		  <div class="col-xs-12">5. Some Rando <span class="score">460pts</span></div>
		</div>
	</div>
</div>