<div class="panel container-fluid filter">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</div>

{{#each restaurant in model}}
  {{#link-to 'check-in'}}
    <div class="col-md-6">
      <div class="panel triConf">
        <div class="panel-heading">
          <h2 class="panel-title">{{restaurant.name}}</h2>
        </div>
        <div class="media">
          <div class="media-body">
            <div class="row">
              <div class="col-xs-9">
                <p><label>Cuisine:</label> {{restaurant.type}}</p>
                <p><label>Location:</label> {{restaurant.location}}</p></div>
              <div class="col-xs-3 event-time"><p>{{restaurant.hours}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/link-to}}
{{/each}}