<h3>Tri-Conf Events</h3>
<div class="col-md-6">
  <div class="panel panel-community">
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-md-9"><h4 class="media-heading">Fitness Demonstration</h4></div>
          <div class="col-md-3"><h4 class="media-heading event-time ">Saturday</h4></div>
        </div>
        <div class="row">
          <div class="col-md-9"><p>Speaker: Suzy Awesomesauce</p>
            <p>Track: Community</p>
            <p>Location: John Day Park, Stage</p></div>
          <div class="col-md-3"><h4 class="media-heading event-time ">2:00 PM</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-art-music-culture">
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-md-9"><h4 class="media-heading">Elements of Art</h4></div>
          <div class="col-md-3"><h4 class="media-heading event-time ">Saturday</h4></div>
        </div>
        <div class="row">
          <div class="col-md-9"><p>Speaker: Jose Awesomesauce</p>
            <p>Track: Art Music Culture</p>
            <p>Location: Richland Public Library, Room A</p></div>
          <div class="col-md-3"><h4 class="media-heading event-time ">3:00 PM</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-activism">
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-md-9"><h4 class="media-heading">Domestic Violence Solutions</h4></div>
          <div class="col-md-3"><h4 class="media-heading event-time ">Saturday</h4></div>
        </div>
        <div class="row">
          <div class="col-md-9"><p>Speaker: Erinn Awesomesauce</p>
            <p>Track: Activism</p>
            <p>Location: Community Center, Large Room</p></div>
          <div class="col-md-3"><h4 class="media-heading event-time ">5:00 PM</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-entrepreneurship">
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-md-9"><h4 class="media-heading">Fusing Great Ideas</h4></div>
          <div class="col-md-3"><h4 class="media-heading event-time ">Saturday</h4></div>
        </div>
        <div class="row">
          <div class="col-md-9"><p>Speaker: Buster Awesomesauce</p>
            <p>Track: Entrepreneurship</p>
            <p>Location: Richland Public Library, Room A</p></div>
          <div class="col-md-3"><h4 class="media-heading event-time ">2:00 PM</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>