<h3>Tri-Conf Events</h3>
<div class="col-md-6">
  <div class="panel community">
    <div class="panel-heading">
      <h2 class="panel-title">Panel title</h2>
    </div>
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-md-9"><p>Speaker: Suzy Awesomesauce</p>
            <p>Track: Community</p>
            <p>Location: John Day Park, Stage</p></div>
          <div class="col-md-3 event-time "><p>2:00 PM</p><p>Saturday</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel artAndDesign">
    <div class="panel-heading">
      <h2 class="panel-title">Elements of Art</h2>
    </div>
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-md-9"><p>Speaker: Jose Awesomesauce</p>
            <p>Track: Art</p>
            <p>Location: Richland Public Library, Room A</p></div>
          <div class="col-md-3 event-time "><p>3:00 PM</p><p>Saturday</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel activism">
    <div class="panel-heading">
      <h2 class="panel-title">Domestic Violence Solutions</h2>
    </div>
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-md-9"><p>Speaker: Erinn Awesomesauce</p>
            <p>Track: Activism</p>
            <p>Location: Community Center, Large Room</p></div>
          <div class="col-md-3 event-time "><p>5:00 PM</p><p>Saturday</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel entrepreneurship">
    <div class="panel-heading">
      <h2 class="panel-title">Fusing Great Ideas</h2>
    </div>
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-md-9"><p>Speaker: Buster Awesomesauce</p>
            <p>Track: Entrepreneurship</p>
            <p>Location: Fuse, Main Space</p></div>
          <div class="col-md-3 event-time "><p>3:00 PM</p><p>Saturday</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
